BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
ColumnLimit: 120
ReflowComments: false
SortIncludes: false
IncludeBlocks: Preserve
PointerAlignment: Left
DerivePointerAlignment: false
SpaceBeforeParens: ControlStatements
Cpp11BracedListStyle: true
SpacesInParentheses: false
SpacesInAngles: false
SpaceAfterCStyleCast: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: false
NamespaceIndentation: None
IndentPPDirectives: AfterHash
ContinuationIndentWidth: 4
AlignAfterOpenBracket: DontAlign
BinPackArguments: false
BinPackParameters: false
